.heading {
    font-size: 28px;
    font-weight: bold;

    @media (--medium) {
        font-size: 38px;
    }
}

.emptyCart {
    align-items: center;
    color: var(--color-dark-grey);
    display: flex;
    flex-direction: column;
    font-family: var(--font-subheading);
    padding: 150px 0;
    text-align: center;
}

.emptyCart .copy {
    margin-top: 20px;

    @media (--medium) {
        margin-top: 25px;
    }
}

.productList {
    margin-top: 20px;
}

.productWrapper {
    margin-bottom: 20px;
}

.buttonBar {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 20px 0;

    @media (--large) {
        width: 40%;
    }
}

.buttonBar > * {
    width: 33.33%;
}

.halfLeft,
.halfRight {
    background-color: var(--color-light-grey);
    border: solid 1px var(--color-light-grey);

    & > svg {
        vertical-align: middle;
    }

    &:not(.disabled):hover {
        background-color: var(--color-primary-hover);
    }

    &:hover > svg g {
        stroke: var(--color-white);
    }
}

.halfLeft {
    border-radius: var(--border-radius-2x) 0 0 var(--border-radius-2x);
}

.halfRight {
    border-radius: 0 var(--border-radius-2x) var(--border-radius-2x) 0;
}

.quantity {
    align-items: center;
    border: solid 1px var(--color-light-grey);
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.pricingWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 90px;
}

.pricingWrapper hr {
    width: 100%;
}

.pricingRow {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
}

.pricingRow .amount {
    font-weight: lighter;
}

.pricingRow.total {
    margin-top: 20px;
}