.cart {
    background-color: var(--color-white);
    bottom: 0;
    left: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: left 250ms ease-in;

    @media (--medium) {
        background-color: var(--color-modal-overlay);
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms ease-in;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cart.open {
    left: 0;

    @media (--medium) {
        opacity: 1;
        pointer-events: initial;
    }
}

.insert {
    background-color: var(--color-white);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    overflow: auto;
    padding: 48px 17px 0 17px;
    position: absolute;
    right: 0;
    top: 0;

    @media (--medium) {
        border-radius: var(--border-radius);
        height: 80vh;
        padding: 68px 60px 0 60px;
        position: relative;
        width: 80%;
    }

    @media (--large) {
        padding: 68px 80px 0 80px;
    }
}

.closeButtonWrapper {
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;

    @media (--medium) {
        height: 25px;
        right: 25px;
        top: 25px;
        width: 25px;
    }

    @media (--large) {
        height: 30px;
        right: 30px;
        top: 30px;
        width: 30px;
    }
}

.closeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    width: inherit;

    @media (--medium) {
        position: fixed;
    }
}

.closeButton > svg {
    height: 100%;
    width: 100%;
}

.checkout {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    @media (--medium) {
        bottom: unset;
    }
}

.checkout button {
    padding: 14px 0;
}

button.disabled {
    opacity: var(--disabled-opacity);
}