.cta {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-white);
    padding: 8px 17px;
    text-transform: uppercase;

    @media (--medium) {
        padding: 12px 26px;
    }
}

.cta.oval {
    border-radius: var(--border-radius-2x);
}

.cta:not(.disabled):hover {
    background-color: var(--color-primary-hover);
}

.cta.disabled {
    opacity: var(--disabled-opacity);
}

.cta.fullWidth {
    width: 100%;
}
