.product {
    display: flex;
    flex-direction: column;

    @media (--medium) {
        flex-direction: row;
    }
}

.titlePriceWrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 12px;

    @media (--medium) {
        padding-bottom: 9px;
    }
}

.image {
    width: 100%;

    @media (--medium) {
        flex-shrink: 0;
        width: 40%;
    }
}

.image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;

    @media (--medium) {
        height: 100%;
    }
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px 25px 30px 25px;

    @media (--medium) {
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 60%;
        padding: 35px 45px 30px 40px;
    }

    @media (--large) {
        padding: 45px 75px 40px 53px;
    }

}

.title {
    font-size: 21px;
    font-weight: normal;

    @media (--medium) {
        font-size: 28px;
        margin-right: 20px;
    }

    @media (--large) {
        font-size: 38px;
    }
}

.price {
    align-self: center;
    font-size: 16px;
    font-weight: lighter;

    @media (--medium) {
        font-size: 21px;
    }
}

.inventory {
    color: var(--color-dark-grey);
    font-family: var(--font-subheading);
    font-size: 12px;
    padding-bottom: 20px;
    text-transform: uppercase;

    @media (--medium) {
        padding-bottom: 44px;
    }

    @media (--large) {
        font-size: 13px;
    }
}

.inventory.disabled {
    color: var(--color-disabled);
}

.ctaWrapper {
    margin-top: auto;
}