.app {
    box-sizing: border-box;
    padding: 21px 5.3vw;

    @media (--medium) {
        padding: 43px 6.5vw;
    }

    @media (--large) {
        padding: 55px 6.25vw;
    }

    @media (--huge) {
        width: var(--site-max-width);
        padding: 55px calc(1280px * .0625); /* locks the padding at the highest value that matches the widest supported width */
        margin: 0 auto;
    }
}