.app {
    box-sizing: border-box;
    padding: 21px 5.3vw;

    @media (--medium) {
        padding: 43px 6.5vw;
    }

    @media (--large) {
        padding: 55px 6.25vw;
    }

    @media (--huge) {
        width: var(--site-max-width);
        padding: 55px calc(1280px * .0625); /* locks the padding at the highest value that matches the widest supported width */
        margin: 0 auto;
    }
}

.header {
    margin-bottom: 10px;

    @media (--medium) {
        margin-bottom: 0;
    }
}

.header > a {
    color: var(--color-black);
    text-decoration: none;
}

.headline {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 21px;

    @media (--medium) {
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
    }

    @media (--large) {
        margin-bottom: 34px;
    }
}

.hRule {
    margin-bottom: 21px;

    @media (--medium) {
        margin-bottom: 25px;
    }

    @media (--large) {
        margin-bottom: 30px;
    }
}

.cartWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.cartWrapper > svg {
    height: 17px;
    margin-right: 8px;
    width: auto;
}

.cartWrapper {
    font-size: 14px;
}

.cartWrapper > svg g {
    stroke: var(--color-black);
}

.cartWrapper:hover {
    color: var(--color-primary-hover);
    cursor: pointer;

    & > svg g {
        stroke: var(--color-primary-hover);
    }
}

.unbutton {
    background: transparent;
    border: none;
}