@import "./fonts.css";
@import "./media-queries.css";
@import "./variables.colors.css";
@import "./variables.spacing.css";
@import "./variables.typography.css";

html,
body {
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    color: var(--color-black);
    font-family: var(--font-body);
}